<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel> Название объявления</ng-template>
      <mat-form-field>
        <input matInput placeholder="Название" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Следующее</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="titleFormGroup">
    <form [formGroup]="titleFormGroup">
      <ng-template matStepLabel>Добавьте описание</ng-template>
      <mat-form-field>
        <textarea matInput placeholder="Описание" formControlName="titleCtrl" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Следующее</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="adressFormGroup">
    <form [formGroup]="adressFormGroup">
      <ng-template matStepLabel>Укажите адресс</ng-template>
      <mat-form-field>
        <input matInput placeholder="Адресс" formControlName="adressCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Следующее</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="pictureFormGroup">
    <ng-template matStepLabel>Выберите изображения</ng-template>
    <div class="fileInput1">
      <label class="fileInput" for="input-file-id">Выберите файлы</label>
      <input id="input-file-id" type="file" multiple accept="image/*,image/jpeg"
        (change)="OnFileSelected($event)">
    </div>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Следующее</button>
    </div>

  </mat-step>

  <mat-step [stepControl]="categoryFormGroup">
    <form [formGroup]="categoryFormGroup">
      <ng-template matStepLabel>Укажите категорию </ng-template>
      <mat-form-field>
        <mat-select matInput formControlName="categoryCtrl" required>
          <mat-option *ngFor="let category of Categories" value="{{category.Name}}">{{category.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Следующее</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="typeFormGroup">
    <form [formGroup]="typeFormGroup">
      <ng-template matStepLabel>Укажите тип </ng-template>
      <mat-form-field>
        <mat-select matInput formControlName="typeCtrl" required>
          <mat-option *ngFor="let type of Types" value="{{type.Name}}">{{type.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Следующее</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="stateFormGroup">
    <form [formGroup]="stateFormGroup">
      <ng-template matStepLabel>Укажите состояние </ng-template>
      <mat-form-field>
        <mat-select matInput formControlName="stateCtrl" required>
          <mat-option *ngFor="let state of States" value="{{state.Name}}">{{state.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Следующее</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Добавить объявление</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="AddAd()">Создать</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<div class="example-loading-shade" *ngIf="isLoadingCategories||isLoadingTypes||isLoadingStates">
  <mat-spinner *ngIf="true"></mat-spinner>
</div>
