.example-card {
  max-width: 400px;
  height: 560px;
  margin: 10px auto;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.frame {
  margin: auto;
  height: 400px !important;
  width: 400px !important;
}

img {
  display: block;
  margin: auto;
  max-height: 400px !important;
  max-width: 400px !important;
}

.Action {
  position: absolute;
  bottom: 30px;
}
