<!-- <a (click)="change()">
  <span *ngIf="!(this.auth.Loggined)">Войти</span>
  <span *ngIf="(this.auth.Loggined)">{{this.auth.UserName}}</span>
</a>
<div class="window" *ngIf="Visible">
  <div *ngIf="!(this.auth.Loggined)">
    <input type="text" name="Login" class="row" [(ngModel)]="log">
    <input type="password" name="Password" class="row" [(ngModel)]="pass">
    <button (click)="LogIn()">Поключить</button>
  </div>

  <div *ngIf="(this.auth.Loggined)">

    <a [routerLink]="['/add/']" >Добавить объявление</a>
    <a [routerLink]="['/contact/']" >Инфо</a>
    <button (click)="LogOut()" style="display:block;margin: 10px auto">Отключить</button>
  </div>
</div> -->
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <!-- <span *ngIf="(this.auth.Loggined)">{{this.auth.UserName}}</span> -->
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div *ngIf="(this.auth.Loggined)">
    <a [routerLink]="['/add/']" mat-menu-item>
      <mat-icon>add_box</mat-icon>
      <span>Создать объявление</span>
    </a>
    <a [routerLink]="['/contact/']" mat-menu-item>
      <mat-icon>contacts</mat-icon>
      <span>Личный кабинет</span>
    </a>
    <button mat-menu-item (click)="LogOut()">
      <mat-icon>error_outline</mat-icon>
      <span>Выходите, {{this.auth.UserName}}?</span>
    </button>
  </div>
  <div *ngIf="!(this.auth.Loggined)">
    <mat-card (click)="$event.stopPropagation();">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" name="Login" [(ngModel)]="log">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="Password" [(ngModel)]="pass">
        </mat-form-field>
        <button mat-button (click)="LogIn()">Поключить</button>
      </mat-card-content>
    </mat-card>
  </div>
</mat-menu>
