<a (click)="change()">
  <span *ngIf="!(this.auth.Loggined)">LogIn</span>
  <span *ngIf="(this.auth.Loggined)">{{this.auth.UserName}}</span>
</a>


<div class="window" *ngIf="Visible">
  <div *ngIf="!(this.auth.Loggined)">
    <input type="text" name="Login" class="row" [(ngModel)]="log">
    <input type="password" name="Password" class="row" [(ngModel)]="pass">
    <button (click)="LogIn()" >поключить</button>
  </div>
  

  <button (click)="LogOut()"*ngIf="(this.auth.Loggined)">Отключить</button>
</div>